@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

.mid {
  width: 1200px;
  margin: 0 auto; }

.banner {
  height: 1000px;
  background-image: url(../img/Background.png);
  background: cover;
  background-position: center;
  background-repeat: no-repeat; }

.navigation-panel {
  padding: 28px 0 0 0; }

.head_ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none; }

.head_li {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: #fff; }
  .head_li a {
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    padding-bottom: 5px; }
  .head_li a:hover {
    color: #FCE38A;
    border-bottom: 1px solid #FCE38A; }

a.activ {
  color: #FCE38A;
  border-bottom: 1px solid #FCE38A; }

.MoGo {
  margin-right: 400px;
  color: #fff;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 2px #3d3d3d;
  list-style: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default; }

.infa {
  height: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  color: #fff;
  text-align: center;
  margin-top: 170px; }

.head_h1 {
  font-size: 150px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px #3d3d3d; }

.head_creative {
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  font-size: 72px;
  text-shadow: 1px 1px 2px #3d3d3d; }

.line {
  width: 60px;
  border-top: 3px solid #fff;
  margin: 0 auto; }

.button_top {
  width: 163px;
  margin: 0 auto;
  margin-top: 50px; }
  .button_top a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    border: 3px solid #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 30px; }
  .button_top a:hover {
    background-color: #fff;
    color: #ECBB87;
    -webkit-box-shadow: 0px 0px 55px -11px #3d3d3d;
            box-shadow: 0px 0px 55px -11px #3d3d3d;
    -webkit-transition: all .6s ease;
    transition: all .6s ease; }

/* STORY ABOUT US */
.section-2 {
  height: 750px; }

.block-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 90px 0 0 0; }

.h4_block-1 {
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  font-size: 24px;
  margin: 20px 0 30px 0;
  text-shadow: 0.5px 0.5px 0.3px #3d3d3d; }

.h3_block-1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 40px;
  text-shadow: 0.5px 0.5px 0.3px #3d3d3d; }

.line-2 {
  width: 60px;
  border-top: 3px solid #F38181;
  margin: auto;
  margin-bottom: 45px; }

.p_block-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #999999;
  margin: 10px 0 105px 0; }

.block_story ul {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.block_story li {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }

.discr {
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: #ff9966;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 153, 102, 0.95)), to(rgba(235, 206, 131, 0.8)));
  background: -webkit-linear-gradient(rgba(255, 153, 102, 0.95), rgba(235, 206, 131, 0.8));
  background: linear-gradient(rgba(255, 153, 102, 0.95), rgba(235, 206, 131, 0.8));
  color: #fff;
  padding-top: 100px;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .discr .fa {
    font-size: 20px; }

.block_story li:hover .discr {
  opacity: 1; }

.progress {
  width: 100%;
  max-height: 270px;
  background-color: #95e1d3;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default; }
  .progress section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }

.numb-1,
.numb-2,
.numb-3,
.numb-4,
.numb-5 {
  width: 240px;
  margin: auto;
  border-right: 1px solid #b5eae0;
  text-align: center;
  padding: 60px 0; }
  .numb-1 .number_progress,
  .numb-2 .number_progress,
  .numb-3 .number_progress,
  .numb-4 .number_progress,
  .numb-5 .number_progress {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: bold; }
  .numb-1 .discr_p,
  .numb-2 .discr_p,
  .numb-3 .discr_p,
  .numb-4 .discr_p,
  .numb-5 .discr_p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase; }

.numb-1 {
  border-left: 1px solid #b5eae0; }

.amazing_work {
  height: 651px;
  padding: 109px 0 0 0; }

.we_work,
.amazing_h3 {
  text-align: center;
  text-shadow: 0.5px 0.5px 0.3px #3d3d3d; }

.we_work {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  text-shadow: 0.3px 0.3px 0.3px #3d3d3d; }

.amazing_h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 40px; }

.amazing_sec_1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5; }

.amazing_discr {
  width: 332px;
  height: 85px; }

.amazing_amg {
  float: left; }

.ic {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-left: 27px;
  margin-bottom: 19px;
  float: left; }

.amazing_p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #cacaca;
  width: 272px;
  text-align: left;
  float: right; }

.amazing_sec_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px; }

.device_bg {
  width: 100%;
  min-height: 850px;
  background-image: url("../img/divices/Background.png");
  background: cover;
  padding-top: 100px;
  position: relative; }

.device_img {
  position: absolute;
  top: 230px;
  left: 30%; }

.phone_1 {
  top: 490px;
  left: 60%; }

.se_block {
  padding-top: 50px; }

.p_service {
  width: 960px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center; }

.aside_service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu_service {
  width: 600px;
  height: 380px; }

.point_li {
  display: block;
  height: 60px;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px; }

.point_li:last-child {
  margin-bottom: 0; }

.point_se_2 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 10px 0 0 15px; }

.icons_se_2,
.point_se_2 {
  float: left; }

.arrow_down {
  float: right;
  color: #d0d0d0;
  font-size: 25px;
  margin-top: 7px; }

.slider {
  width: 100%;
  height: 290px;
  background-color: #f8f8f8;
  margin-top: 120px;
  border: 1px solid #000; }

.team {
  height: 1000px;
  padding-top: 50px; }

.block_team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.people {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-top: 50px; }

.discr_team {
  position: absolute;
  width: 100%;
  height: 99.2%;
  background-color: #ff9966;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 153, 102, 0.95)), to(rgba(235, 206, 131, 0.8)));
  background: -webkit-linear-gradient(rgba(255, 153, 102, 0.95), rgba(235, 206, 131, 0.8));
  background: linear-gradient(rgba(255, 153, 102, 0.95), rgba(235, 206, 131, 0.8));
  color: #fff;
  padding-top: 100px;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .discr_team .people_a {
    font-size: 26px;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    color: #f38181;
    padding-top: 15px;
    border-right: 1px solid #f9bd87;
    margin-top: 100px;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s; }

.people_a:last-child {
  border: none; }

.people_a:hover {
  background-color: #f38181;
    background-color-color: #fff;
    background-color-border-right: none;
    background-color-width: 100%;
    background-color-height: 100%; }

.people_a:hover i {
  color: #fff; }

.block_team .people:hover .discr_team {
  opacity: 1; }

.line_discr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 30px; }

.h5_dev {
  font-family: "Montserrat";
    font-family-text-transform: uppercase;
    font-family-font-weight: italic;
  font-size: 14px; }

.discr_p_dev {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: light-italic;
  font-size: 15px;
  color: #afafaf; }

.cor_por {
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
  padding-top: 55px; }

.cor_por_in {
  width: 1200px;
  margin: 0 auto; }

.do {
  height: 1055px;
  width: 100%;
  padding-top: 120px; }

#gallery {
  margin-top: 150px; }

.sizer {
  width: 25%; }

.item-masonry img {
  width: 100%;
  height: auto;
  display: block; }

.item-masonry {
  position: relative;
  cursor: pointer; }

.discr_galeri {
  background-color: rgba(255, 153, 102, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 153, 102, 0.4)), to(rgba(235, 206, 131, 0.7)));
  background: -webkit-linear-gradient(rgba(255, 153, 102, 0.4), rgba(235, 206, 131, 0.7));
  background: linear-gradient(rgba(255, 153, 102, 0.4), rgba(235, 206, 131, 0.7));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.discr_galeri .fa {
  padding-top: 25%;
  margin-left: 43%; }

.discr_galeri h3 {
  text-transform: uppercase;
  text-align: center; }

.discr_galeri p {
  text-align: center; }

.elem_3 .fa {
  padding-top: 60%; }

.no-gutter-sizer .item-masonry:hover .discr_galeri {
  opacity: 1; }

#comment {
  width: 100%;
  min-height: 830px;
  background-image: url(../img/What-people-say/Background.jpg);
  background: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #comment .mid {
    padding-top: 120px; }

.wrapper_comment {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: auto; }

.commit-1, .commit-2 {
  width: 515px;
  height: 190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: auto; }

.img_comment {
  margin-right: 20px;
  height: 50%; }

.discr_comment {
  width: 375px;
  text-align: left; }
  .discr_comment .line-2 {
    margin: 0 0 15px 0; }

.comment_h5 {
  margin-bottom: 15px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; }

.comment_name {
  font-size: 15px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
  color: #999; }

.comment_text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #999; }

#lastes_blog {
  width: 100%;
  height: 770px;
  padding-top: 120px; }

#blogs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.last_blog {
  width: 30%;
  position: relative;
  margin: auto; }
  .last_blog img {
    width: 100%; }
  .last_blog span {
    width: 12%;
    position: absolute;
    left: -15px;
    top: 170px;
    text-align: center;
    background-color: #95e1d3;
    color: #fff; }

.name_blog {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 5px 0; }

.txt_blog {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: normal;
  margin: 5px 0; }

.line_gray {
  border: 1px solid #e5e5e5;
  margin-top: 10px; }

.vision .fa {
  color: #95e1d3;
  margin: 0 10px; }

.world_map {
  width: 100%;
  height: 200px;
  display: block;
  background-image: url(../img/map.jpg);
  background: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer; }

.map_button {
  color: #f38181;
  margin: auto;
  text-transform: uppercase;
  text-align: center; }
  .map_button i {
    font-size: 2em; }
  .map_button h1 {
    margin: 20px 0; }

.line_red {
  margin: 0 auto;
  width: 60px;
  border: 1px solid #f38181; }

footer {
  width: 83%;
  height: 480px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 50px; }

#subscribe {
  width: 480px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  #subscribe h1 {
    color: #ccc;
    font-size: 46px;
    font-weight: bold;
    font-family: Montserrat;
    margin-bottom: 25px; }
  #subscribe p {
    color: #ccc;
    font-family: 'Roboto' sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 40px; }
  #subscribe #followers {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; }

#follow {
  color: #ccc;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px; }
  #follow .fa {
    color: #95E1D3;
    margin: 0 5px; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px; }

input[type="email"] {
  width: 230px;
  height: 40px;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 10px;
  border: 1px solid #E7E7E7; }

#submit {
  width: 150px;
  height: 40px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #95E1D3;
  text-transform: uppercase;
  cursor: pointer; }

#foot_blogs {
  margin-left: 25px; }
  #foot_blogs h4 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 40px; }

.our_blogs {
  width: 340px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0; }

.our_blogs_img {
  margin-right: 20px; }

.txt_blogs span {
  font-family: Roboto;
  font-size: 13px;
  font-weight: lighter;
  color: #b4b4b4; }

.our_blogs_p {
  font-size: 12px;
  font-family: Montserrat;
  font-weight: normal;
  color: #777;
  margin-bottom: 10px; }

#instagram h4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 40px; }

#instagramm {
  width: 273px;
  height: 271px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #instagramm img {
    border: 1px solid #fff; }

.copyright {
  width: 83%;
  height: 60px;
  margin: 0 auto;
  text-align: center; }
  .copyright span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal; }
  .copyright a {
    color: #95E1D3;
    margin: 25px 0; }
